ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.accent {
  color: #4d5ae5;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* header  */
.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  /* padding: 24px 0; */
  align-items: center;
}
.header-logo-menu {
  display: flex;
  align-items: center;
  gap: 76px;
}
/* .header-logo {
  margin-right: 76px;
} */
.header-menu-list ul {
  display: flex;
  gap: 40px;
}
.header-menu-list a {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-list a:hover,
.header-menu-list a:focus {
  color: #404bbf;
}
.header-menu-list a.current {
  color: #404bbf;
}
.header-menu-list a.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-contacts {
  font-style: normal;
}
.header-contacts ul {
  display: flex;
  gap: 40px;
}
.header-contacts a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts a:hover,
.header-contacts a:focus {
  color: #404bbf;
}

/* hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  /* cursor: pointer; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* features */
.features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-icon-wrapper {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
  max-width: 264px;
}

/* team  */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-card {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-info {
  text-align: center;
  padding: 32px 16px;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
}
.team-social-icons-ntws {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-item a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-item a:hover,
.team-social-item a:focus {
  background-color: #404bbf;
}
.team-icon {
  fill: #f4f4fd
}

/* portfolio */
.portfolio {
  background-color: #fff;
  padding: 120px 0;
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-container li:hover .portfolio-item-text {
  transform: translateY(0);
}
.portfolio-container ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}
.portfolio-container li {
  width: calc((100% - 48px) / 3);
  background-color: #f4f4fd;
  border-radius: 4px 4px 0 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-info {
  display: block;
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  padding-bottom: 8px;
}

/* footer  */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .accent {
  color: #4d5ae5;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin: 0;
}

/* Блок соцмереж */
.footer-sotial-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}
